body {
    min-width: 3000px;
    min-height: 3000px;
    background: black;
    color: white;
    font-family: monospace;
    overflow: auto;
    position: relative;
}

/* STARFIELD BACKGROUND */
body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 50px 50px;
    opacity: 0.2;
    z-index: 0;
}

/* TITLE */
.main-title {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 80px;
    color: cyan;
    z-index: 5;
}

.subtitle {
    position: absolute;
    top: 350px;
    left: 250px;
    font-size: 40px;
    color: magenta;
    z-index: 5;
}

/* PLANETS */
.planet {
    position: absolute;
    width: 400px;
    border-radius: 50%;
    z-index: 1;
}

.earth {
    top: 800px;
    left: 500px;
}

.moon {
    top: 1500px;
    left: 1800px;
    width: 300px;
}

/* CHAOTIC MESSAGES */
.message {
    position: absolute;
    font-size: 50px;
    color: red;
    z-index: 4;
    transform: rotate(-15deg);
}

.msg1 {
    top: 1200px;
    left: 2000px;
}

.msg2 {
    top: 2200px;
    left: 700px;
    transform: rotate(25deg);
    color: yellow;
}

.msg3 {
    top: 2600px;
    left: 2500px;
    transform: rotate(-40deg);
    color: lime;
}

/* BOTTOM SECRET */
.bottom-secret {
    position: absolute;
    bottom: 100px;
    right: 200px;
    font-size: 60px;
    color: white;
    z-index: 6;
}