* {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  width: 100%;
}

.grid-item {
  border: 2px solid white;
}

.item1 { background-color: #FF5733; grid-column: span 2; }
.item2 { background-color: #33FF57; border-radius: 50%; }
.item3 { background-color: #3357FF; opacity: 0.7; }
.item4 { background: linear-gradient(to right, pink, orange); }
.item5 { background-color: #FF33FF; grid-row: span 2; }
.item6 { background-color: #33FFFF; }
.item7 { background-color: #FFA500; }
.item8 { background-color: #800080; }
.item9 { background-color: #FFD700; }
.item10 { background-color: #ff9f1c; }
.item11 { background-color: #2ec4b6; }
.item12 { background-color: #e71d36; }
.item13 { background-color: #011627; }
.item14 { background-color: #ffbf69; }
.item15 { background-color: #cbf3f0; }
.item16 { background-color: #6a4c93; }
.item17 { background-color: #f72585; }
.item18 { background-color: #4cc9f0; }
.item19 { background-color: #3a0ca3; }
.item20 { background-color: #b5179e; }